
<center>

<div class="scroll">



<div  id="about_content">

<br><br>


<div id="arabic_about">
 
<span class="about_title">من نحن؟</span> 
نحن طالبات بكلية طب الأسنان جامعة الملك خالد أنشأنا هذا التطبيق لخدمة المجتمع و توعية الأمهات و الآباء حول صحة أسنان أطفالهم ..
<br>
هيفاء الفيفي - الاء القرني - نجلاء عسيري  
<br>
<br>
<center>
<a href="https://www.youtube.com/channel/UCoV-eCw9eqjnh4mpcBGXWRg"  ><span class="secial-icons socicon-youtube"></span></a>
<a href="https://twitter.com/urchildsmile" ><span class="secial-icons socicon-twitter"></span></a>
<a href="https://t.co/MU2DifnmCy" ><span class="secial-icons socicon-instagram"></span></a>
</center>


<div class="about_line"></div>



<span class="about_title">عن التطبيق:</span>
"ابتسامة طفلك" تطبيق خدمي أنشئ للمجتمع، ويهدف لتوعية الأم والأب بصحة أسنان أطفالهما و يتكون من عدة أقسام، كل قسم يحتوي على معلومات مهمة تسهم في توعية الأب والأم، والأقسام كالتالي:
 

<div class="about_line"></div>

<span class="about_title">الحمل وصحة الأسنان:</span>
  ويحتوي هذا القسم على معلومات تساعد على توعية الأم بكيفية العناية والحفاظ على صحة أسنانها أثناء الحمل، مما ينعكس على صحة أسنان طفلها، ويتحدث عن أبرز المشاكل التي تواجه الحامل في أسنانها، وكيف يمكنها الوقاية من هذه المشاكل بالمحافظة على صحة أسنانها، كما يتحدث عن غذاء الحامل وأهمية المحافظة على الغذاء الجيد، كذلك الإجراءات العلاجية والأدوية التي يجب تجنبها ومعلومات عن أسنان الجنين وكل ذلك أثناء الحمل.
  
  
  <div class="about_line"></div>

<span class="about_title">أسنان طفلك:</span>
يحتوي على معلومات عن التسنين، وموعد ظهور الأسنان اللبنية والدائمة، والأسنان الولادية، وكيفية العناية بها، وأهمية الحفاظ المسافة في حال فقد السن قبل بزوغ السن الدائم، وكيفية خلع السن اللبني.
  
  
  <div class="about_line"></div>

<span class="about_title">التغذية وصحة أسنان الأطفال :</span>
 يضم معلومات غذائية للرضيع، الطفل، المراهق، وأهم الأغذية المفيدة للطفل من فترة الرضاعة إلى المراهقة والتي تعزز من صحة الفم والأسنان وأهم العادات الغذائية التي يجب أن يتجنبها الطفل.
  
  
  <div class="about_line"></div>

<span class="about_title"> الوقاية من مشاكل الأسنان لدى الطفل:</span>
يشمل معلومات عن الفلورايد، نظافة الأسنان بالفرشاة و المعجون واستخدام خيط الأسنان، الزيارة الأولى لطبيب الأسنان، أهمية العناية بالأسنان اللبنية، والحشوات الوقائية، وحماية الطفل من الإصابات الرياضية

  
  <div class="about_line"></div>

<span class="about_title"> مشاكل الأسنان لدى الأطفال:</span>
يوضح معلومات عن التسوس من استعمال الرضاعة، التصرف مع ألم الأسنان، العادات السيئة التي يمارسها الطفل وتؤثر على الأسنان، التصرف في حالات الطوارئ، التغيرات التي تحدث في الأسنان وتستوجب زيارة طبيب الأسنان، الأشعة السينية للأسنان وصحة الطفل، تراكم الأسنان وسوء الأطباق، والشفة الأرنبية



<div class="about_line"></div>

<span class="about_title">العناية بأسنان الأطفال المصابين بالأمراض المزمنة:</span>
ويشمل معلومات تخص الأطفال المصابين بأمراض مزمنة تستوجب مزيدا من الاهتمام مثل مرض السكري، الربو، الطفل التوحدي، الطفل المصاب بمتلازمة داون.



<div class="about_line"></div>

<span class="about_title"> خصائص إضافية بالتطبيق: </span>
التطبيق يتيح استقبال الأسئلة من الآباء و الأمهات ويتم الرد عليها من خلال متخصصين في طب أسنان الأطفال وتقويم الأسنان والفكين ، كما أنه يتوفر في التطبيق خيار التنبيه والتذكير بمواعيد زيارات طبيب الأسنان و حجز مواعيد عند أطباء الأسنان و ايضا يحتوي التطبيق على فيديوهات توعوية في العناية بصحة أسنان الأطفال.
  

<div class="about_line"></div>




<center>
 
  <a href="https://Jasr.Team" >
 
<div id="jasr_logo"></div>
 
التطبيق من تطوير ودعم فريق جَسر
© 
</a>



</center>
</div>
















<div id="english_about" style="display:none; font-size:16px;">
 
<span style="font-size:16px;" class="about_title">About us </span> 
We are dental students in King Khalid University who designed this app which help parents in their child's dental health.
<br>
Haifa AlFaifi - Alaa AlQarni - Najla Asseri 
<br>
<br>
<center>
<a href="https://www.youtube.com/channel/UCoV-eCw9eqjnh4mpcBGXWRg"  ><span class="secial-icons socicon-youtube"></span></a>
<a href="https://twitter.com/urchildsmile" ><span class="secial-icons socicon-twitter"></span></a>
<a href="https://t.co/MU2DifnmCy" ><span class="secial-icons socicon-instagram"></span></a>
</center>


<div class="about_line"></div>



<span style="font-size:16px;" class="about_title">About App:</span>
"Your child's smile" is a mobile based application designed for parents and community. The app focuses on helping parents to know more about their child's oral and dental health. 

<br>
Each one of its sections has useful and important information that will improve parents awareness about their children oral and dental health.



 

<div class="about_line"></div>

<span style="font-size:16px;" class="about_title">Pregnancy and dental health:</span>
This section provides information to help mothers to care and maintain her dental health during pregnancy which will reflect in her baby's dental health in the future.It also discusses most dental problems that are common during pregnancy and preventive methods that prevent them.
  
  
  <div class="about_line"></div>

<span style="font-size:16px;" class="about_title">Your child's teeth:</span>
This section provides information about teething, sequences of primary and permanent teeth eruption, care of newly erupted tooth and the importance of space maintainers in the case of early loss of primary teeth. 
  
  <div class="about_line"></div>

<span style="font-size:16px;" class="about_title">Dental disease prevention :</span>
This section gives information about fluoride, brushing and flossing techniques, first visit of the baby to a dental clinic, the importance of primary teeth, pit and fissure sealants and how to protect child's teeth from sports injuries.  
  
  <div class="about_line"></div>

<span style="font-size:16px;" class="about_title"> Diet and children's dental health:</span>
This section provides information about right dietary habits for infants, children, and teenagers. Also, provides information on methods to prevent bad dietary habits in children.
  
  <div class="about_line"></div>

<span style="font-size:16px;" class="about_title"> Children dental problems :</span>
This section deals with prevention and management of common dental problems in children: early childhood caries, managing toothache in children, dental x-ray safety, mal-aligned teeth and how to deal with bad oral habits; thumb sucking, tongue thrust, and nail biting. 


<div class="about_line"></div>

<span style="font-size:16px;" class="about_title">Dental care of children with general health issues:</span>
This section deals with dental care of children  with Down's syndrome, autism, diabetes and asthma


<div class="about_line"></div>

<span style="font-size:16px;" class="about_title"> Additional properties in the app: </span>
The app also allows online questions and consultation for parents. Questions are answered by consultants in pediatric dentistry and orthodontics.
<br>

App also provides a window for adding child's appointments and visits to the dental clinic.
<br>

App has many videos that help in improving parents' awareness of their children's oral and dental health.  

<div class="about_line"></div>




<center>
 
  <a href="https://Jasr.Team" >
 
<div id="jasr_logo"></div>
 
Powered by Jasr Team © 
</a>



</center>
</div>



<br><br><br>

 
</div>



</div>


<div class="back-box">
<div class="back-line"></div>
<table class="back-table">
<tr>
<td align="right"><span class="back-title" id="about_app_team"> عن التطبيق والفريق </span></td>
<td align="left"><span class="back-icon lnr lnr-chevron-left change_group" data-group_id="home" ></span></td>
</tr>
</table>
</div>


</center>




