
<center>

<div class="scroll">



<div  id="about_content">

<br><br>



 
<span class="about_title">من نحن؟</span> 
 نحن فريق ابتسامة طفلك، فريق سعودي تطوّعي مهتم بالعمل الطبّي فيما يخص أسنان الأطفال
 
<br>
<center>
<a href="https://www.youtube.com/channel/UCoV-eCw9eqjnh4mpcBGXWRg"  ><span class="secial-icons socicon-youtube"></span></a>
<a href="https://twitter.com/urchildsmile" ><span class="secial-icons socicon-twitter"></span></a>
<a href="https://t.co/MU2DifnmCy" ><span class="secial-icons socicon-instagram"></span></a>
</center>


<div class="about_line"></div>



<span class="about_title">عن التطبيق:</span>
"ابتسامة طفلك" تطبيق خدمي أنشئ للمجتمع، ويهدف لتوعية الأم والأب بصحة أسنان أطفالهما و يتكون من عدة أقسام، كل قسم يحتوي على معلومات مهمة تسهم في توعية الأب والأم، والأقسام كالتالي:
 

<div class="about_line"></div>

<span class="about_title">الحمل وصحة الأسنان:</span>
  ويحتوي هذا القسم على معلومات تساعد على توعية الأم بكيفية العناية والحفاظ على صحة أسنانها أثناء الحمل، مما ينعكس على صحة أسنان طفلها، ويتحدث عن أبرز المشاكل التي تواجه الحامل في أسنانها، وكيف يمكنها الوقاية من هذه المشاكل بالمحافظة على صحة أسنانها، كما يتحدث عن غذاء الحامل وأهمية المحافظة على الغذاء الجيد، كذلك الإجراءات العلاجية والأدوية التي يجب تجنبها ومعلومات عن أسنان الجنين وكل ذلك أثناء الحمل.
  
  
  <div class="about_line"></div>

<span class="about_title">أسنان طفلك:</span>
يحتوي على معلومات عن التسنين، وموعد ظهور الأسنان اللبنية والدائمة، والأسنان الولادية، وكيفية العناية بها، وأهمية الحفاظ المسافة في حال فقد السن قبل بزوغ السن الدائم، وكيفية خلع السن اللبني.
  
  
  <div class="about_line"></div>

<span class="about_title">التغذية وصحة أسنان الأطفال :</span>
 يضم معلومات غذائية للرضيع، الطفل، المراهق، وأهم الأغذية المفيدة للطفل من فترة الرضاعة إلى المراهقة والتي تعزز من صحة الفم والأسنان وأهم العادات الغذائية التي يجب أن يتجنبها الطفل.
  
  
  <div class="about_line"></div>

<span class="about_title"> الوقاية من مشاكل الأسنان لدى الطفل:</span>
يشمل معلومات عن الفلورايد، نظافة الأسنان بالفرشاة و المعجون واستخدام خيط الأسنان، الزيارة الأولى لطبيب الأسنان، أهمية العناية بالأسنان اللبنية، والحشوات الوقائية، وحماية الطفل من الإصابات الرياضية

  
  <div class="about_line"></div>

<span class="about_title"> مشاكل الأسنان لدى الأطفال:</span>
يوضح معلومات عن التسوس من استعمال الرضاعة، التصرف مع ألم الأسنان، العادات السيئة التي يمارسها الطفل وتؤثر على الأسنان، التصرف في حالات الطوارئ، التغيرات التي تحدث في الأسنان وتستوجب زيارة طبيب الأسنان، الأشعة السينية للأسنان وصحة الطفل، تراكم الأسنان وسوء الأطباق، والشفة الأرنبية



<div class="about_line"></div>

<span class="about_title">العناية بأسنان الأطفال المصابين بالأمراض المزمنة:</span>
ويشمل معلومات تخص الأطفال المصابين بأمراض مزمنة تستوجب مزيدا من الاهتمام مثل مرض السكري، الربو، الطفل التوحدي، الطفل المصاب بمتلازمة داون.



<div class="about_line"></div>

<span class="about_title"> خصائص إضافية بالتطبيق: </span>
التطبيق يتيح استقبال الأسئلة من الآباء و الأمهات ويتم الرد عليها من خلال متخصصين في طب أسنان الأطفال وتقويم الأسنان والفكين ، كما أنه يتوفر في التطبيق خيار التنبيه والتذكير بمواعيد زيارات طبيب الأسنان و حجز مواعيد عند أطباء الأسنان و ايضا يحتوي التطبيق على فيديوهات توعوية في العناية بصحة أسنان الأطفال.
  

<div class="about_line"></div>




<center>
 
  <a href="https://Jasr.Team" >
 
<div id="jasr_logo"></div>
 
التطبيق من تطوير ودعم فريق جَسر
© 
</a>

</center>


<br><br><br>

 
</div>



</div>


<div class="back-box">
<div class="back-line"></div>
<table class="back-table">
<tr>
<td align="right"><span class="back-title"> عن التطبيق والفريق </span></td>
<td align="left"><span class="back-icon lnr lnr-chevron-left change_group" data-group_id="home" ></span></td>
</tr>
</table>
</div>


</center>




