<center>
<div class="scroll">

<br> 
<div   class="main-articles-list change_page" data-page_id="articles_list" data-color="#f7868e">
<span  class="main-articles-icon main-articles-icon-left"> <img  src="img/icons/1.jpg"> </span>
<button style="background-color:#f7868e"  class="main-articles-icon-title main-articles-icon-title-left"> الحمل والأسنان </button>
</div>

<div   class="main-articles-list change_page" data-page_id="articles_list" data-color="#1abc9c">
<span  class="main-articles-icon main-articles-icon-right"> <img  src="img/icons/2.jpg"> </span>
<button style="background-color:#1abc9c"  class="main-articles-icon-title main-articles-icon-title-right"> أسنان طفلك </button>
</div>

<div   class="main-articles-list change_page" data-page_id="articles_list" data-color="#eeb33a">
<span  class="main-articles-icon main-articles-icon-left"> <img  src="img/icons/3.jpg"> </span>
<button style="background-color:#eeb33a"  class="main-articles-icon-title main-articles-icon-title-left"> التغذية والأسنان </button>
</div>

<div   class="main-articles-list change_page" data-page_id="articles_list" data-color="#c0392b">
<span  class="main-articles-icon main-articles-icon-right"> <img  src="img/icons/4.jpg"> </span>
<button style="background-color:#c0392b"  class="main-articles-icon-title main-articles-icon-title-right"> وقاية الأسنان </button>
</div>

<div   class="main-articles-list change_page" data-page_id="articles_list" data-color="#0e495d">
<span  class="main-articles-icon main-articles-icon-left"> <img  src="img/icons/5.jpg"> </span>
<button style="background-color:#0e495d"  class="main-articles-icon-title main-articles-icon-title-left"> مشاكل الأسنان </button>
</div>

<div   class="main-articles-list change_page" data-page_id="articles_list" data-color="#01a1e0">
<span  class="main-articles-icon main-articles-icon-right"> <img  src="img/icons/6.jpg"> </span>
<button style="background-color:#01a1e0"  class="main-articles-icon-title main-articles-icon-title-right"> الأمراض المزمنة </button>
</div>

<br><br><br>
</div>

<div class="back-box">
<div class="back-line"></div>
<table class="back-table">
<tr>
<td align="right"><span class="back-title"> المعلومات </span></td>
<td align="left"><span class="back-icon lnr lnr-chevron-left change_group" data-group_id="home" ></span></td>
</tr>
</table>
</div>
</center>