<center>
<div class="scroll">

<br> 



<table class="animated content_lists change_page" data-page_id="articles_show"> <tr> <td align="right" width="80%"> <span class="content_title">هنا سيكون عنوان الموضوع </span> - <span class="content_user">اسم الكاتب</span> </td> <td class="" data-content_id="'+data[i].id+'"  data-content_title="'+data[i].title+'"  data-content_user="'+data[i].user+'"  data-content_date="'+data[i].date+'" align="left" width="20%"> <span class="lnr lnr-chevron-down-circle animated content_lists_icon"></span> </td> </tr> </table>


<table class="animated content_lists change_page" data-page_id="articles_show"> <tr> <td align="right" width="80%"> <span class="content_title">هنا سيكون عنوان الموضوع </span> - <span class="content_user">اسم الكاتب</span> </td> <td class="" data-content_id="'+data[i].id+'"  data-content_title="'+data[i].title+'"  data-content_user="'+data[i].user+'"  data-content_date="'+data[i].date+'" align="left" width="20%"> <span class="lnr lnr-chevron-down-circle animated content_lists_icon"></span> </td> </tr> </table>


<table class="animated content_lists change_page" data-page_id="articles_show"> <tr> <td align="right" width="80%"> <span class="content_title">هنا سيكون عنوان الموضوع </span> - <span class="content_user">اسم الكاتب</span> </td> <td class="" data-content_id="'+data[i].id+'"  data-content_title="'+data[i].title+'"  data-content_user="'+data[i].user+'"  data-content_date="'+data[i].date+'" align="left" width="20%"> <span class="lnr lnr-chevron-down-circle animated content_lists_icon"></span> </td> </tr> </table>



<table class="animated content_lists change_page" data-page_id="articles_show"> <tr> <td align="right" width="80%"> <span class="content_title">هنا سيكون عنوان الموضوع </span> - <span class="content_user">اسم الكاتب</span> </td> <td class="" data-content_id="'+data[i].id+'"  data-content_title="'+data[i].title+'"  data-content_user="'+data[i].user+'"  data-content_date="'+data[i].date+'" align="left" width="20%"> <span class="lnr lnr-chevron-down-circle animated content_lists_icon"></span> </td> </tr> </table>


<table class="animated content_lists change_page" data-page_id="articles_show"> <tr> <td align="right" width="80%"> <span class="content_title">هنا سيكون عنوان الموضوع </span> - <span class="content_user">اسم الكاتب</span> </td> <td class="" data-content_id="'+data[i].id+'"  data-content_title="'+data[i].title+'"  data-content_user="'+data[i].user+'"  data-content_date="'+data[i].date+'" align="left" width="20%"> <span class="lnr lnr-chevron-down-circle animated content_lists_icon"></span> </td> </tr> </table>



<table class="animated content_lists change_page" data-page_id="articles_show"> <tr> <td align="right" width="80%"> <span class="content_title">هنا سيكون عنوان الموضوع </span> - <span class="content_user">اسم الكاتب</span> </td> <td class="" data-content_id="'+data[i].id+'"  data-content_title="'+data[i].title+'"  data-content_user="'+data[i].user+'"  data-content_date="'+data[i].date+'" align="left" width="20%"> <span class="lnr lnr-chevron-down-circle animated content_lists_icon"></span> </td> </tr> </table>



<table class="animated content_lists change_page" data-page_id="articles_show"> <tr> <td align="right" width="80%"> <span class="content_title">هنا سيكون عنوان الموضوع </span> - <span class="content_user">اسم الكاتب</span> </td> <td class="" data-content_id="'+data[i].id+'"  data-content_title="'+data[i].title+'"  data-content_user="'+data[i].user+'"  data-content_date="'+data[i].date+'" align="left" width="20%"> <span class="lnr lnr-chevron-down-circle animated content_lists_icon"></span> </td> </tr> </table>

<br><br><br>
</div>

<div class="back-box">
<div class="back-line"></div>
<table class="back-table">
<tr>
<td align="right"><span class="back-title"> قائمة الموضوعات </span></td>
<td align="left"><span class="back-icon lnr lnr-chevron-left change_page" data-page_id="articles_main" ></span></td>
</tr>
</table>
</div>
</center>

