<center>
<div class="scroll">

<br> 
<div   class="main-articles-list change_page" data-page_id="articles_list" data-color="#f7868e" data-type="6">
<span  class="main-articles-icon main-articles-icon-left"> <img  src="img/icons/1.jpg"> </span>
<button style="background-color:#f7868e"  class="main-articles-icon-title main-articles-icon-title-left lang_Pregnancy"> الحمل والأسنان </button>
</div>

<div   class="main-articles-list change_page" data-page_id="articles_list" data-color="#d79f4e"  data-type="7">
<span  class="main-articles-icon main-articles-icon-right"> <img  src="img/icons/2.jpg"> </span>
<button style="background-color:#d79f4e"  class="main-articles-icon-title main-articles-icon-title-right lang_Child"> أسنان طفلك </button>
</div>

<div   class="main-articles-list change_page" data-page_id="articles_list" data-color="#ce2c61"  data-type="8">
<span  class="main-articles-icon main-articles-icon-left"> <img  src="img/icons/3.jpg"> </span>
<button style="background-color:#ce2c61"  class="main-articles-icon-title main-articles-icon-title-left lang_Diet"> التغذية والأسنان </button>
</div>

<div   class="main-articles-list change_page" data-page_id="articles_list" data-color="#8e44ad" data-type="9">
<span  class="main-articles-icon main-articles-icon-right"> <img  src="img/icons/4.jpg"> </span>
<button style="background-color:#8e44ad"  class="main-articles-icon-title main-articles-icon-title-right lang_Dental"> وقاية الأسنان </button>
</div>

<div   class="main-articles-list change_page" data-page_id="articles_list" data-color="#0e495d"  data-type="10">
<span  class="main-articles-icon main-articles-icon-left"> <img  src="img/icons/5.jpg"> </span>
<button style="background-color:#0e495d"  class="main-articles-icon-title main-articles-icon-title-left lang_Children"> مشاكل الأسنان </button>
</div>

<div   class="main-articles-list change_page" data-page_id="articles_list" data-color="#01a1e0"  data-type="11">
<span  class="main-articles-icon main-articles-icon-right"> <img  src="img/icons/6.jpg"> </span>
<button style="background-color:#01a1e0"  class="main-articles-icon-title main-articles-icon-title-right lang_General"> الأمراض المزمنة </button>
</div>

<br><br><br>
</div>

<div class="back-box">
<div class="back-line"></div>
<table class="back-table">
<tr>
<td align="right"><span class="back-title lang_articles_list_main"> الأقسام </span></td>
<td align="left"><span class="back-icon lnr lnr-chevron-left change_group" data-group_id="home" ></span></td>
</tr>
</table>
</div>
</center>