<center>

<div class="scroll">
<br><br>
<button class="change_page" data-page_id="remind_add"> إضافة تذكير جديد </button>

<div class="remind_body">
<table>

<tr>
<td width="100"> <img src="img/icons/boy.jpg"  > </td>
<td>
الاسم: خالد
<br>
العمر: 11 سنة
<br>
الموعد: 15/6/2017
<br>
اسم المستشار: الدكتور إبراهيم
</td>
</tr>

<tr>
<td width="100"> <img src="img/icons/girl.jpg"  > </td>
<td>
الاسم: سلمى
<br>
العمر: 14 سنة
<br>
الموعد: 15/6/2017
<br>
اسم المستشار: الدكتور إبراهيم
</td>
</tr>


<tr>
<td width="100"> <img src="img/icons/boy.jpg"  > </td>
<td>
الاسم: ابراهيم
<br>
العمر: 4سنوات
<br>
الموعد: 15/6/2017
<br>
اسم المستشار: الدكتور إبراهيم
</td>
</tr>


 

</table>



</div>
</div>


<div class="back-box">
<div class="back-line"></div>
<table class="back-table">
<tr>
<td align="right"><span class="back-title"> تذكر مواعيدك </span></td>
<td align="left"><span class="back-icon lnr lnr-chevron-left change_group" data-group_id="home" ></span></td>
</tr>
</table>
</div>


</center>