<center>

 <input id="child_name"  type="text" placeholder="اسم طفلك">
<input id="child_old" type="text"  placeholder="عمر طفلك">
<select id="child_sex">
 <option value="male"> ذكر </option>
 <option value="female"> أنثى </option>
</select>
<input id="child_date" type="date"  placeholder="تاريخ الموعد">
<input id="child_consult" type="text"  placeholder="اسم المستشار">

<table style="width:80%; max-width:320px;">
<tr>
<td width="50%" align="right"> <button class="change_page" data-page_id="remind_home" > عودة </button> </td>
<td width="50%"  align="left"> <button class="change_page" data-page_id="remind_home" > أضف </button> </td>
</tr>

</table>
 </center>