<center>

 <input id="consult_name"  type="text" placeholder="الاسم">
<input id="consult_email" type="text"  placeholder="الإيميل">
<input id="consult_title" type="text"  placeholder="عنوان الاستشارة">
<input id="consult_title" type="text"  placeholder="اسم المستشار؟">
<input id="consult_text" type="text"  placeholder="نص الاستشارة">

<table style="width:80%; max-width:320px;">
<tr>
<td width="50%" align="right"> <button class="change_page" data-page_id="consult_home" > عودة </button> </td>
<td width="50%"  align="left"> <button  class="change_page" data-page_id="consult_home"> إرسال  </button> </td>
</tr>

</table>
 </center>