<center>
<div class="scroll">

<br> 
<div   class="main-articles-list change_page" data-page_id="consult_send" data-color="#2ecc71">
<span  class="main-articles-icon main-articles-icon-left"> <img  src="img/icons/7.jpg"> </span>
<button style="background-color:#2ecc71"  class="main-articles-icon-title main-articles-icon-title-left"> أرسل استشارة </button>
</div>

<div   class="main-articles-list change_page" data-page_id="consult_list" data-color="#e74c3c">
<span  class="main-articles-icon main-articles-icon-right"> <img  src="img/icons/8.jpg"> </span>
<button style="background-color:#e74c3c"  class="main-articles-icon-title main-articles-icon-title-right"> قائمة الاستشارات </button>
</div>

<br><br><br>
</div>

<div class="back-box">
<div class="back-line"></div>
<table class="back-table">
<tr>
<td align="right"><span class="back-title"> الاستشارات </span></td>
<td align="left"><span class="back-icon lnr lnr-chevron-left change_group" data-group_id="home" ></span></td>
</tr>
</table>
</div>
</center>