<center>
<div id="logo"></div>
 

<table class="options-table">
  <tr>
  
    <td><center><div  class="options change_group" data-group_id="articles" id="options_articles">
    <img src="img/icons/articles.png" >
    </div></center></td>
    
    
    <td><center><div class="options change_group" data-group_id="video" id="options_video">
    <img src="img/icons/video.png" >
    </div></center></td>
    
    
    <td><center> <div class="options change_group" data-group_id="consult" id="options_consult">
    <img src="img/icons/consult.png">
    </div></center></td>
    
    
  </tr>
  <tr>
    <td><center><div class="options change_group" data-group_id="appbook" id="options_appbook">
    <img src="img/icons/appbook.png">
    </div></center></td>
    
    
    <td><center><div class="options change_group" data-group_id="remind" id="options_remind">
    <img src="img/icons/remind.png">
    </div></center></td>
    
    
    <td><center><div class="options change_group" data-group_id="about" id="options_about">
    <img src="img/icons/about.png">
    </div></center></td>
    
    
    
  </tr>
</table>

 

</center>

